.hotelBooking-info
    display: flex
    justify-content: space-between
    align-items: center
    padding: 23px 0
    &__text
    &__wraper
        display: flex
        flex-wrap: wrap
        align-items: center
    &__offer

        margin-top: 4px
.stars
    flex-basis: 100%
    &__star
        width: 8px
        height: 8px

.hotel-name
    margin: 5px 14px 0 0
    font-size: 24px
    line-height: 30px

.offer
    font-size: 10px
    line-height: 13px
    background-color: $backgroundButtom
    border: none
    border-radius: 3px
    padding: 4px 9px
    color: #fff
.discription
    margin: 4px 0 0 0
    font-size: 12px
    line-height: 15px
.rating
    width: 65px
    height: 45px
    background-color: $backgroundButtom
    border-radius: 3px
    color: #fff
    text-align: center
    &__text
        font-size: 8px
        line-height: 10px
        font-weight: 600
        margin-bottom: 2px
    &__count
        font-weight: bold
        font-size: 14px
        line-height: 18px
