@media screen and (max-width:1200px)
    .container
        max-width: 960px
    .swaper-slaider
        width: 960px
        height: 450px
    .hotelBooking-swaper
        flex-direction: row
        height: auto
    .swaper-slaider
        margin-bottom: 30px
@media screen and (max-width:992px)
    .container
        max-width: 768px
    .header-wraper
        &__search
            margin-left: auto
    .header-wraper
        padding-top: 30px
        padding-bottom: 30px
    .logo__bestTourPlan
        width: 135px
    .search
        &__input
            width: 340px
    .navbar
        padding-top: 23px
        padding-bottom: 23px
    .menu
        &__link
            font-size: 12px
            line-height: 15px
    .hotelBooking-swaper
        flex-direction: row
        height: auto
    .swaper-slaider
        width: 768px
        height: 450px
    .swaper-slaider
        margin-bottom: 30px
    .booking
        margin-bottom: 30px
    .swaper-slaider1
        width: 659px
    .image1

        &-conte
    .other
        &-activities
            justify-content: space-between
        &-card:not(:last-child)
            margin-right: 0
        &-card
            margin-bottom: 20px
            width: 340px

@media screen and (max-width: 768px)
    .container
        max-width: 320px
        width: 92%
        min-width: 268px
    .logo__bestTourPlan
        width: 100px
    .search
        display: none
    .login
        display: none
    .menuBottom
        display: block
    .navbar
        display: none
    .hotelBooking-info
        &__rating
            display: none
        &__offer
            order: -1
        &__wraper
            justify-content: space-between

    .stars
        flex-basis: content
    .booking-button
        padding: 13px 0
        width: 100%
    .newsletter
        &-wrapper
            flex-direction: column
        &-title
            align-items: flex-start
            font-family: Mulish
            font-style: normal
            font-weight: 300
            font-size: 20px
            line-height: 25px
            margin-bottom: 37px
        &-subscribe
            font-family: Mulish
            font-style: normal
            font-weight: 600
            font-size: 30px
            line-height: 38px
    .subscribe
        &__input
            width: 280px
    .swaper-slaider1
        width: 100%
        text-align: center
    .image1
        &-conte
            width: 90%
    .review
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
    .other
        &activities
            justify-content: center
            align-items: center
        &-card:not(:last-child)
            margin-right: auto
        &-card
            margin: auto
            margin-bottom: 20px
            width: 280px
    .footer
        &-top
            flex-direction: column
        &-logo
            align-self: flex-start
@media screen and (max-width:576px)
    .subscribe
        &__input
            width: 100%
